{% extends 'mainapp/layout.html' %}
{% load static %}

{% block title %} Main page {% endblock %}
{% block body %}
    <div class="main-page">
    <h1>Куди піти сьогодні?</h1>
    <img src="{% static 'mainapp/img/sacura.jpg' %}" alt="">
    <p>Ласкаво просимо! Це - ваш персональний помічник для вибору куди піти сьогодні. Тут ви можете дивитися уже наявні локації, які ви додали раніше або ж додати нові. Коли ви натисните кнопку нижче, сайт підкаже вам місце для чудового відпочинку з друзями або наодинці, опираючись на ваш рейтинг.</p>
    <h3>Гарного відпочинку!</h3>
    <button onclick="window.location.href='{% url 'random_place' %}'">Куди піти?</button>
    </div>
{% endblock %}