{% extends 'mainapp/layout.html' %}
{% load static %}

{% block title %} {{ place.title }} {% endblock %}

{% block body %}
<div class="detail-page">
    <img src="{% static 'mainapp/img/wp.jpg'%}">
    {% if place %}
        <h1>{{ place.title }}</h1>
        <p><strong>Тип:</strong> {{ place.typeplace }}</p>
        <p><strong>Рейтинг:</strong> {{ place.rating }} <i class="fa-solid fa-star"></i></p>
        <p><strong>Локація:</strong>
            {% if place.location %}
                {{ place.location }}
            {% else %}
                Secret place <i class="fa-solid fa-eye-slash"></i>
            {% endif %}
        </p>
        <p><strong>Дата:</strong> {{ place.date }}</p>
        <p><strong>Опис:</strong> {{ place.text }}</p>
    {% else %}
        <p>Ця локація не знайдена.</p>
    {% endif %}
</div>
{% endblock %}