body {
    margin: 0;
    background-color: pink;
    font-family: 'Philosopher', sans-serif;
    text-align: center;
}

aside {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: lightpink;
    padding: 15px 30px;
    border-bottom: 3px solid mediumvioletred;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

aside ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;                     /* вмикаємо flexbox */
    justify-content: space-around;     /* рівний розподіл */
    align-items: center;
}

aside ul a {
    display: inline-block;
    text-decoration: none;
    color: mediumvioletred;
    font-weight: 600;
    font-size: 18px;
    transition: all 0.3s ease;          /* плавний ефект */
}

aside ul a:hover {
    color: indigo;
    transform: scale(1.10);             /* трохи збільшується */
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: lightpink;
    padding: 10px 30px;
    border-top: 3px solid mediumvioletred;
    text-align: center;
    font-family: 'Philosopher', sans-serif;
    font-weight: 500;
    color: mediumvioletred;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.main-page h1 {
    color: mediumvioletred;
    font-size: 40px;
    margin: 60px 0 20px 0;
}

.main-page img {
    width: 66%;
    border-radius: 15px; /* заокруглені краї */
    border: 2px solid mediumvioletred; /* тонка рамка */
    margin: 20px auto;
    display: block;
}

.main-page p {
    max-width: 70%;
    margin: 30px auto;
    padding: 20px;
    background-color: lightpink;
    color: white;
    font-size: 18px;
    line-height: 1.6;
    border-radius: 10px;
}

.main-page h3 {
    color: mediumvioletred;
    font-size: 28px;
    margin: 20px 0;
}

.main-page button {
    background-color: mediumvioletred;
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 12px 30px;
    margin: 5px 0 50px 0;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 3px 6px rgba(0,0,0,0.15);
}

.main-page button:hover {
    background-color: indigo;
    transform: scale(1.08);
}